:root{
    --primary:#272343;
    --secondary:#FFFFFF;
    --tertiary:#E3F6F5;
    --quadinary:#BAE8E8;
    --primaryfont:'Kanit', sans-serif;
    --headingfont:'Dancing Script', cursive;
    --bodyfont:'lobster', cursive;
    --secondaryfont:'Rajdhani', sans-serif;
  }